@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

body {
  background-color: #bcc6cc;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 10px;
  width: 5%;
}

h1, h3 {
    color: #20516f;
}
